<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Участники фильмотеки</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Все участники фильмотеки</h1>
    <div class="row">
        <div class="col" sec:authorize="isAuthenticated() && !hasRole('USER')">
            <a href="directors/add"
               class="btn btn-secondary"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить участника</a>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ФИО</th>
            <th scope="col">Должность</th>
            <th scope="col">Фильм(ы)</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="director : ${directors}">
            <td>
                <a class="text-link text-blue" th:href="'/directors/' + ${director.getId()}" th:text="${director.getDirectorsFio()}"></a>
            </td>
            <td th:text="${director.getPosition()}"></td>

            <td>
                <ul>
                    <li th:each="film : ${director.getFilms()}" th:text="${film.getTitle()}"></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
