<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Фильмы фильмотеки</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Все фильмы фильмотеки</h1>
    <div class="row">
        <div class="col" sec:authorize="isAuthenticated() && !hasRole('USER')">
            <a href="films/add"
               class="btn btn-secondary"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить фильм</a>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Жанр</th>
            <th scope="col">Страна</th>
            <th scope="col">Год выхода</th>
            <th scope="col">Участник(и)</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="film : ${films}">
            <td>
                <a class="text-link text-blue" th:href="'/films/' + ${film.getId()}" th:text="${film.getTitle()}"></a>
            </td>
            <td th:text="${film.getGenre().getGenreName()}"></td>
            <td th:text="${film.getCountry().getCountryName()}"></td>
            <td th:text="${film.getPremierYear()}"></td>
            <td>
                <ul>
                    <li th:each="director : ${film.getDirectors()}" th:text="${director.getDirectorsFio()}"></li>
                </ul>
            </td>
            <td sec:authorize="isAuthenticated() && !hasRole('USER')">
                <form enctype="multipart/form-data" style="max-width: 50vw"
                      method="POST" th:action="@{/films/{filmId}/addDirector(filmId=${film.getId()})}"
                      th:object="${addDirectorForm}">

                    <select class="form-select" name="id" id="id" required>
                        <option selected value="" disabled="disabled">Добавить участника</option>
                        <option th:each="director : ${directors}" th:value="${director.getId()}" th:text="${director.getDirectorsFio()}"></option>
                    </select>
                    <button type="submit" class="btn btn-light">Добавить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
