
.nav-link {
    color: whitesmoke !important;
}

.btn-primary {
    color: white !important;
    background-color: #3c7ab8 !important;
    border-color: #3c51b8 !important;
}

.btn-primary:hover {
    background-color: #3cb8b8 !important;
    border-color: #3c88b8 !important;
    color: white !important;
}

.text-link {
    text-decoration: none;
}

.text-link:hover {
    color: #001445;
}
